---
interface Props{
    title: string;
}


const { title, ...props } = Astro.props;



---

<div class="card card-gradient-2"  {...props}>
    <h6>{title}</h6>
    <slot/>
    <div class="card__footer">
        <span>
            8 😎
        </span>
        <span>
            24 🔥
        </span>
        <span>
            40 🎉
        </span>
    </div>
</div>
<style>
	.card{
        position: relative;
        box-sizing: border-box;
        padding: 0.1rem 1rem 0.1rem 1rem;
        background: #171717;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        border: 1px solid;
        border-image-source: linear-gradient(180deg, #6DE5B8 0%, #9036EA 100%);
        /* padding: 1rem 1rem 1rem 1rem; */
    }

    .card__footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1rem;
    }

    .card__footer > span {
        margin-left: 0.6rem;
    }
    h6{
        padding: 1rem 0.5rem 0.4rem 0.5rem;
    }

    span{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: white;
    }

    .card-gradient-2 {
    background: 
        linear-gradient(var(--gray-bg), var(--gray-bg)) padding-box,
        linear-gradient(to right, #6DE5B8, #9036EA) border-box;
    border: 1px solid transparent;
    }




</style>
