---
import Main from "../layouts/Main.astro";

const content = {
    title: "404 - Page Not Found",
    description: "The page you are looking for does not exist.",
    };
---

<Main content={content}>
    <div class="page__404 flex">
        <h1>404</h1>
        <h6>Page not found</h6>
        <p>
            The page you are looking for does not exist. You can go back to the
            <a href="/">homepage</a>.
        </p>

    </div>
</Main>
<style>

    h1{
        font-size: 8rem;
        font-weight: 900;
        color: #fff;
        margin: 0;
        padding: 0;
    }

    h6{
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
        margin: 0;
        padding: 0;
    }
/* 
    p{
        color: #636363;
    } */

    a{
        color: var(--link)
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 330px - 5rem);
    }

</style>