---
import BlogCard from '../components/BlogCard/BlogCard.astro';
import Main from '../layouts/Main.astro';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);

const content = {
    title: "404 - Page Not Found",
    description: "The page you are looking for does not exist.",
    };

---
<Main content={content} pageTitle="Blog">
	<div class="grid">
	{posts.map((post) => (
		<BlogCard
			title={post.frontmatter.title}
			shortDescription={post.frontmatter.description}
			link={post.url}
			tags={["Tets"]}
		/>
	))}
	</div>
</Main>
<style>
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-gap: 2rem;
	}
</style>